<!doctype html>
<html ng-app="app">
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	    <!-- Latest compiled and minified CSS -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

	    <!-- Optional theme -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

	    <!-- Latest compiled and minified JavaScript -->
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>

		<!-- Our CSS and JS -->
		<link href="css/style.css" rel="stylesheet">
		<script src="js/app.js"></script>
	</head>
	<body ng-controller='AppController as control'>

		<form class="form-horizontal" role="form" ng-submit="control.submitQuery()">
			<div class="form-group">
				<div class="col-md-3">
					<input type="text" class="form-control" ng-model="control.title" placeholder="Enter a movie title.">
				</div>
					<button class="btn btn-default" ng-disabled="!control.title" type="submit">Search</button>
					<button class="btn btn-default" ng-click="control.clearResults()" ng-disabled="!control.title" type="button">Clear</button>
			</div>
		</form>

		<hr>

		<div>
			<table class="table table-striped" ng-show="json">
				<thead>
					<tr>
						<th>Key</th>
						<th>Value</th>
					</tr>  
				</thead>  
				<tbody>
					<tr ng-repeat="(key, value) in json">
						<td>{{key}}</td>
						<td>{{value}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>